:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    background: var(--yellow);
    font-family: "Figtree", serif;
    line-height: 150%;
    letter-spacing: 0;
}

.card__badge,
.card__author__name {
    font-weight: 900;
    font-size: 14px;
}

.card__published {
    font-weight: 400;
    font-size: 14px;
}

.card__link {
    font-weight: 900;
    font-size: 24px;

}

.card__description {
    font-weight: 400;
    font-size: 16px;
}